include partials/header

body
	section#container
	//
		**********************************************************************************************************************************************************
		TOP BAR CONTENT & NOTIFICATIONS
		***********************************************************************************************************************************************************
	include partials/topbar

	//MAIN SIDEBAR MENU

	include partials/sidebar

	//
		**********************************************************************************************************************************************************
		MAIN CONTENT
		***********************************************************************************************************************************************************
	block content

	include partials/footer
	
	// script for this page
	//script(src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=visualization")
	script(src="/js/datospgjdf.js")
	//script(src='/js/map.js')
	script.
		//custom select box
		$(function(){
		//$('select.styled').customSelect()
		})
