// footer start
footer.site-footer
	.text-center
		| 2015 - Ploc app
		a.go-top(href='morris.html#')
			i.fa.fa-angle-up
// footer end
script(src="/js/dependencies/sails.io.js")
script(src="/js/vendor/jquery.js")
script(src='/js/bootstrap.min.js')
script.include(type='text/javascript', src='/js/jquery.dcjqaccordion.2.7.js')
script(src='/js/jquery.scrollTo.min.js')
script(src='http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js')
script(src='/js/common-scripts.js')
script.
	$(document).ready(function(){
		io.socket.on("plog", function(evento){
			var html =  '<div class="plog animated color">';
				html +=  '	<h5>' + evento.data["emisor"] + '</h5>';
				//html +=  '	<p>' + evento.data["hora"] + '</p>';
				html +=  '	<p>' + moment.format(evento.data["hora"]) + '</p>';
				html +=  '</div>';
			var e = $(html)
			$("#plogs").prepend(e);
			e.addClass('fadeInDown')
			var wait = window.setTimeout( function(){
				e.removeClass('color');
			}, 1500);
			
		})

		io.socket.get("/plog/", function(resData, jwres) {
			/*var html = "";
			$.each(resData, function(index, value){
				html = crearPlog(value);
				$("#plogs").prepend(html);
			}) */
		})

		function crearPlog(resData){
			console.log(resData)
			console.log(moment.format( parseInt(resData.hora) ))
			var html =  '<div class="plog">';
				html +=  '	<h5>' + resData.emisor + '</h5>';
				html +=  '	<p>' + moment.format( parseInt(resData.hora) ) + '</p>';
				html +=  '</div>';

			return html;
		}
	})

