doctype html(lang='en')
head
	meta(charset='utf-8')
	|     
	meta(name='viewport', content='width=device-width, initial-scale=1.0')
	|     
	meta(name='description', content='')
	|     
	meta(name='author', content='Dashboard')
	|     
	title PLOG
	// Bootstrap core CSS
	link(href='/css/bootstrap.css', rel='stylesheet')
	// external css
	link(href='/font-awesome/css/font-awesome.css', rel='stylesheet')
	// Custom styles for this template
	link(href='/css/style.css', rel='stylesheet')
	|   
	link(href='/css/style-responsive.css', rel='stylesheet')
	style.

		/*html{
			background: url(/img/bgweb.jpg) no-repeat center center fixed; 
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
		}*/

		.login-wrap{
			background: rgba(250,250,250,0.2);
		}

		.olvidar{
			color: white;
		}

		
	// HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
	//if lt IE 9
	script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
	|       
	script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
	|   

	body		
		#login-page
			.container
				form.form-login(action='index.html')

					h2.form-login-heading 
						img(src="/img/name.png", alt="")
					| &#x9;&#x9;        
					.login-wrap
						input.form-control(type='text', placeholder='Usuario', autofocus='')
						| &#x9;&#x9;            
						br
						| &#x9;&#x9;            
						input.form-control(type='password', placeholder='Password')
						| &#x9;&#x9;            
						label.checkbox
							span.pull-right
							a.olvidar(data-toggle='modal', href='login.html#myModal')  ¿Olvidaste tu password?
							| &#x9;&#x9;            
						button.btn.btn-theme.btn-block(href='index.html', type='submit')
							i.fa.fa-lock
							|  ENTRAR
						| &#x9;&#x9;            
						hr
						| &#x9;&#x9;            
						| &#x9;&#x9;            
						.login-social-link.centered
							p o puedes entrar con tus redes sociales
							| &#x9;&#x9;                
							a.btn.btn-facebook(type='submit', href="auth/facebook")
								i.fa.fa-facebook
								|  Facebook
							| &#x9;&#x9;                
							button.btn.btn-twitter(type='submit')
								i.fa.fa-twitter
								|  Twitter
							| &#x9;&#x9;            
							//.registration
								| Don&apos;t have an account yet?
								br
								| &#x9;&#x9;                
								a(href='#')
									| Create an account
				// Modal
				#myModal.modal.fade(aria-hidden='true', aria-labelledby='myModalLabel', role='dialog', tabindex='-1')
					.modal-dialog
						.modal-content
							.modal-header
								button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
								| &#x9;&#x9;                          
								h4.modal-title Forgot Password ?
								| &#x9;&#x9;                      
							.modal-body
								p Enter your e-mail address below to reset your password.
								| &#x9;&#x9;                          
								input.form-control.placeholder-no-fix(type='text', name='email', placeholder='Email', autocomplete='off')
								| &#x9;&#x9;                      
							.modal-footer
							button.btn.btn-default(data-dismiss='modal', type='button') Cancel
							| &#x9;&#x9;                          
							button.btn.btn-theme(type='button') Submit
			// modal
			// js placed at the end of the document so the pages load faster
			script(src='/js/jquery.js')
			|     
			script(src='/js/bootstrap.min.js')
			// BACKSTRETCH
			// You can use an image of whatever size. This script will stretch to fit in any screen size.
			script(type='text/javascript', src='/js/jquery.backstretch.min.js')
			|     
			script.
				$.backstretch("/img/bgweb.jpg", {speed: 2});