<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		title Lincus
	body

		block content
		
		<!--SCRIPTS-->
		script(src="/js/dependencies/sails.io.js")
		script(src="/js/jsfeat-min.js")
		<!--SCRIPTS END-->