<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		title Ploc
		link(rel="stylesheet", href="/styles/normalize.css")
		link(rel="stylesheet", href="/styles/foundation.min.css")
		style(type="text/css").

			html{
				height: 100%;
			}
			body{
				background: url(/images/bg.jpg) no-repeat center center fixed;
				background-size: cover;
				height: 100%;
				z-index: 0;
			}

			.overlap{
				position: absolute;
				top: 0;
				left: 0;
				height: 100%;
				width: 100%;
				background: rgba(0,0,0,0.4);
				z-index: -1;
			}
			
			.login{
				margin: 0 auto;
				display: table;
				height: 100%;
				z-index: 100;
			}

			.login__content{
				display: table-cell;
				vertical-align: middle;
			}

			.login__content a{
				margin-top: 30px;
			}

			h1{
				color: white;
			}

			.subheader{
				color: #fffffa;
			}

	body

		block content
		
		script(src="/js/dependencies/sails.io.js")