<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		title Plog
		link(rel="stylesheet", href="/styles/normalize.css")
		link(rel="stylesheet", href="/styles/foundation.min.css")

	body

		block content
		
		script(src="/js/dependencies/sails.io.js")
		script(src="/js/vendor/jquery.js")
