extends ../dashboard/index

block content

	// main content start
	section#main-content
		section.wrapper.site-min-height.mapcontainer
			h3
				i.fa.fa-angle-right
				|  Plogs
			.row
				.col-lg-12
					.content-panel
						#mapaRecorrido

	// page end
	// MAIN CONTENT
	// main content end