include ../partials/header

body
	section#container
	//
		**********************************************************************************************************************************************************
		TOP BAR CONTENT & NOTIFICATIONS
		***********************************************************************************************************************************************************
	include ../dashboard/partials/topbar

	//MAIN SIDEBAR MENU

	include ../dashboard/partials/sidebar

	//
		**********************************************************************************************************************************************************
		MAIN CONTENT
		***********************************************************************************************************************************************************
	block content

	include ../partials/footer
	
	// script for this page
	script(src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=visualization")
	script(src='/js/mapRastreo.js')
