// footer start
footer.site-footer
	.text-center
		| 2015 - Ploc app
		a.go-top(href='morris.html#')
			i.fa.fa-angle-up
// footer end
script(src="/js/dependencies/sails.io.js")
script(src="/js/vendor/jquery.js")
script(src='/js/bootstrap.min.js')
script.include(type='text/javascript', src='/js/jquery.dcjqaccordion.2.7.js')
script(src='/js/jquery.scrollTo.min.js')
//script(src='/js/jquery.nicescroll.js', type='text/javascript')
script(src='http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js')
script(src='/js/common-scripts.js')
script.
	$(document).ready(function(){
		io.socket.on("plog", function(evento){
			console.log()
			var html =  '<div class="plog animated color" data-lat="'+ evento.data["lat"] +' data-lon="'+ evento.data["long"] +'">';
				html +=  '	<div class="row">';
				html +=  '		<div class="col-lg-8">';
				html +=  '			<h5><a href="p/' + evento.data["id"] + '">' + evento.data["emisor"] + '</a>';
				html +=  '			<span class="small">' + evento.data["createdAt"] + '</span></h5>';
				html +=  '			<h6>(' + evento.data["lat"] + ','+ evento.data["long"] + ') </h6>';
				html +=  '		</div>';
				html +=  '		<div class="col-lg-4">';
				html +=  '          <a class="btn btn-round btn-info ver-plog" href="p/'+ evento.data["id"] + '">Ir</a>'
				html +=  '		</div>';
				html +=  '	</div>';
				html +=  '</div>';
			var e = $(html)
			$("#plogs").prepend(e);
			e.addClass('fadeInDown')
			var wait = window.setTimeout( function(){
				e.removeClass('color');
			}, 1500);
			
		})

		io.socket.get("/plog", function(resData, jwres) {
			/*var html = "";
			$.each(resData, function(index, value){
				html = crearPlog(value);
				$("#plogs").prepend(html);
			}) */
		})

		function crearPlog(resData){
			console.log(resData)
			console.log(moment.format( parseInt(resData.hora) ))
			var html =  '<div class="plog">';
				html +=  '	<h5>' + resData.emisor + '</h5>';
				html +=  '	<p>' + moment.format( parseInt(resData.hora) ) + '</p>';
				html +=  '</div>';

			return html;
		}
	})

