<!DOCTYPE html>
html
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(name='description', content='')
		meta(name='author', content='Dashboard')
		title Plog - Admin
		// Bootstrap core CSS
		link(href='/css/bootstrap.css', rel='stylesheet')
		link(href='/css/animate.css', rel='stylesheet')
		// external css
		link(href='/font-awesome/css/font-awesome.css', rel='stylesheet')
		link(rel='stylesheet', href='http://cdn.oesmith.co.uk/morris-0.4.3.min.css')
		// Custom styles for this template
		script(src='/js/moment.min.js')
		link(href='/css/style.css', rel='stylesheet')
		link(href='/css/style-responsive.css', rel='stylesheet')
		style.
			#map{
				width: 100%;
				height: 600px;
			}

			#plogs{
				max-height: 600px;
				overflow: auto;
			}

			.plog{
				padding: 10px;
				margin-left: 20px;
				margin-right: 20px;
			}

			.plog:hover{
				background: rgba(0,0,0,0.1);
				cursor: pointer;
			}

			.plog:first-child{
				
			}

			.color{
				background: rgba(181, 211, 55, 0.2);
			}

			h5 span.small{
				margin-left: 15px;
			}

			.ver-plog{
				margin-top: 12px;
			}


