// sidebar start
aside
  #sidebar.nav-collapse(tabindex='5000', style='overflow: hidden; outline: none;')
    // sidebar menu start
    ul#nav-accordion.sidebar-menu
      p.centered
        a(href='profile.html')
          img.img-circle(src='http://placehold.it/60x60', width='60')
      h5.centered Usuario
      
      li.sub-menu.dcjq-parent-li
        a.active.dcjq-parent(href='javascript:;')
          i.fa.fa-bar-chart-o
          span Mapeo de datos
          span.dcjq-icon
        ul.sub(style='display: block;')
          li.active
            a(href='/dashboard') Mapa de calor
          li
            a(href='chartjs.html') Graficas
      //
        li.mt
          a(href='index.html')
            i.fa.fa-dashboard
            span Dashboard
        
        li.sub-menu.dcjq-parent-li
          a.dcjq-parent(href='javascript:;')
            i.fa.fa-desktop
            span UI Elements
            span.dcjq-icon
          ul.sub(style='display: none;')
            li
              a(href='general.html') General
            li
              a(href='buttons.html') Buttons
            li
              a(href='panels.html') Panels
        
        li.sub-menu.dcjq-parent-li
          a.dcjq-parent(href='javascript:;')
            i.fa.fa-cogs
            span Components
            span.dcjq-icon
          ul.sub(style='display: none;')
            li
              a(href='calendar.html') Calendar
            li
              a(href='gallery.html') Gallery
            li
              a(href='todo_list.html') Todo List
        
        li.sub-menu.dcjq-parent-li
          a.dcjq-parent(href='javascript:;')
            i.fa.fa-book
            span Extra Pages
            span.dcjq-icon
          ul.sub(style='display: none;')
            li
              a(href='blank.html') Blank Page
            li
              a(href='login.html') Login
            li
              a(href='lock_screen.html') Lock Screen
        
        li.sub-menu.dcjq-parent-li
          a.dcjq-parent(href='javascript:;')
            i.fa.fa-tasks
            span Forms
            span.dcjq-icon
          ul.sub(style='display: none;')
            li
              a(href='form_component.html') Form Components
        
        li.sub-menu.dcjq-parent-li
          a.dcjq-parent(href='javascript:;')
            i.fa.fa-th
            span Data Tables
            span.dcjq-icon
          ul.sub(style='display: none;')
            li
              a(href='basic_table.html') Basic Table
            li
              a(href='responsive_table.html') Responsive Table
        

    // sidebar menu end
// sidebar end