extends index

block content

	// main content start
	section#main-content
		section.wrapper.site-min-height.mapcontainer
			h3
				i.fa.fa-angle-right
				|  Plogs
			.row
				

				.col-lg-4
					.content-panel
						h4 Reportes
						#plogs
							each plog in plogs
								.plog(data-lat="#{plog.lat}", data-lon="#{plog.long}")
									h5 #{plog.emisor}
										span.small #{ moment(plog.createdAt).format("hh:mm")}
									h6 ( #{plog.lat} , #{plog.long} )

				

				.col-lg-8
					.content-panel
						h4 Mapa
						#map

		// page end
	// MAIN CONTENT
	// main content end